

.movie-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  &.no-image {
  background-color: rgba(255, 255, 255, 0.356);
  }
  .top-info {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 20;
    background-color: #1c1d1f6c;
    top: -20px;
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    transition: ease all .3s;
  }

  .bottom-info {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 20;
    bottom: -20px;
    margin-bottom: 20px;
    color: #fff;
    padding: 20px 20px 20px 20px;
    h3 {
      transition: ease all .3s;
      font-size: 1.3rem;
      text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
      @media(max-width:1199px) {
        font-size: 1.1rem;
      }
      @media(max-width:991px) {
        font-size: 1rem;
      }
    }
  }

  &:hover {
    .top-info {
      transform: rotateX(5deg) translateY(-6px);
    }

    .bottom-info {
      h3 {
        transform: rotateX(10deg) translateY(-16px) scale(1.045);
      }
    }

    .card-cover {
      transform: rotateX(7deg) translateY(-6px);

      &:after {
        transform: translateY(0%);
      }

      &:before {
        opacity: 0.6;
        transform: rotateX(7deg) translateY(-6px) scale(1.045);
      }
    }
  }

  .card-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(0.001deg);
    transition: transform 0.25s ease-in-out;

    &:after {
      display: block;
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
      transform: translateY(-20%);
      will-change: transform;
      transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
      will-change: opacity;
      transform-origin: top center;
      transform: skewX(0.001deg);
      transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
    }
  }

}